.watchList {
  overflow: auto;
  width: 100%;
  height: 100%;
  .user {
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-aside {
      display: flex;
      align-items: center;
    }
    .name {
      margin-left: 10px;
    }
  }
}
