@import '../../../assets/style/variables.scss';

.trtc-edu-top-toolbar {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;

  -webkit-app-region: drag; // 支持窗口拖拽
  user-select: none; // 避免拖拽时，选中文本
  -webkit-user-select: none; // 避免拖拽时，选中文本
  button,
  .icon-content,
  .icon-selector {
    -webkit-app-region: no-drag;
  }

  .trtc-edu-class-tool {
    // width: 62.5rem;
    width: 43.75rem;
    margin: 0 auto;
    background-color: $color-gray-11;
    border-radius: 0.5rem;
  }

  .btn-close-video-list,
  .btn-open-video-list {
    position: absolute;
    padding: 0;
    border-radius: 0;
    color: $color-gray-1;
    cursor: pointer;
  }
  .btn-close-video-list {
    right: 0;
    top: 3.5rem;
    background: $color-gray-13;

    &:hover {
      color: $color-highlight-6;
    }
  }
  .btn-open-video-list {
    right: 5.25rem;
    top: 0;
    height: 3.25rem;
    border-radius: 0 0.5rem 0.5rem 0;
    background: $color-gray-11;

    &:hover {
      background: $color-gray-11;
      color: $color-highlight-6;
    }
  }
}
