<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TRTC Education - Electron Version</title>
  </head>
  <body>
    <div id="root" class="trtc-edu-app"></div>
    <script src="https://cdn-go.cn/aegis/aegis-sdk/latest/aegis.min.js" crossorigin="anonymous"></script>
  </body>
</html>
